<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.weltvree.particle.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.weltvree.particle.product/css/default.css">
         </property>
         <property
               name="appName"
               value="com.weltvree.particle.product">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.weltvree.particle.product/com.weltvree.particle.product.internal.E4LifeCycle">
         </property>
      </product>
   </extension>

</plugin>
